# build folder
dist/
build/
package/

# logs
logs/
.cache
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log

# process data
.pid
pids
.pid-lock

# Coverage & Test
coverage
.nyc_output

# Dependency folder
node_modules
bower_components
jspm_packages

# Environment files
.dot
.env
.env.*
!.env.example
build.env

# Editor and other files
.idea
typing
internal
.vscode
*.tgz
.eslintcache
.svelte-kit

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
